@font-face {
    font-family: Samsung;
    src: url('../../fonts/SamsungOne-400.ttf');
}
@font-face {
    font-family: Samsung700;
    src: url('../../fonts/SamsungOne-700.ttf');
}
@font-face {
    font-family: SamsungBold;
    src: url('../../fonts/SamsungSharpSans-Bold.ttf');
}